<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>HMS uses speech recognition to let doctors dictate consultation notes and prescriptions.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>HMS needs microphone access to enable voice dictation for consultation notes.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.862503979734-r55cpojo5qg2hact648djhqm1qohe216</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
